body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  font-family: "DM Sans", sans-serif;
  background-color: #1e1e1e;
  font-weight: 400;
}

button {
  cursor: pointer;
  border: 0;
}

.star {
  margin-bottom: 15px;
}

@media (max-width: 1300px) {
  body {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  body {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  body {
    max-width: none;
  }
}
@media (max-width: 768px) {
  .subscribe-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .subscribe-form {
    width: 100%;
  }

  input {
    width: 50%;
    box-sizing: border-box;
  }

  .btn-blue {
    width: 100%;
  }
}

/* .reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 15px;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  align-items: start;
  margin: 50px auto;
} */
.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  align-items: start;
  margin: 50px auto;
  padding: 0 15px;

}


.box {
  height: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 32px;
  padding: 50px;
  box-sizing: border-box;
}

.review-text {
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
  margin: 0 0 10px;
}

.review-author {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  margin: 0;
  opacity: 70%;
}
.episodes-header {
  display: flex;
  font-size: 64px;
  line-height: 79.2px;
  letter-spacing: 2.88px;
  justify-content: space-between;
  align-items: center;
}

header {
  text-align: left;
  font-size: 64px;
  line-height: 79.2px;
  letter-spacing: 2.88px;
  color: #ffffff;
}

.episode-one,
.episode-two,
.episode-three,
.subscribe-block {
  display: flex;
  gap: 30px;
  background-color: #000;
  padding: 30px;
  border-radius: 20px;
}

.episodes {
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  gap: 40px;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.ep-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  flex: 1;
}

.subscribe-header {
  font-size: 72px;
  line-height: 79.2px;
  max-width: 590px;
}

.btn-blue {
  color: #ffffff;
  font-weight: 400;
  line-height: 27px;
  background-color: #118da8;
  border-radius: 6px;
  font-size: 18px;
  width: fit-content;
  padding: 15px;
}

.btn-header {
  color: #ffffff;
  font-weight: 400;
  line-height: 27px;
  background-color: #118da8;
  border-radius: 15px;
  height: 75px;
  font-size: 25px;
}

.btn-grey {
  color: #fff;
  background-color: #1e1e1e;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  width: fit-content;
}

#jpg {
  /* border-radius: 16px; */
  object-fit: cover;
}
.ep-number,
.blueTextMini,
.blue-text {
  color: #118da8;
  font-size: 18px;
}

.subscribe-header,
.ep-subheading,
.host-jacob {
  font-size: 64px;
  line-height: 70.4px;
}

.ep-discription,
.host-bio {
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
}

.ep-subheading,
.ep-discription,
.ep-number,
button,
.blueTextMini,
.host-jacob,
.host-bio,
.subscribe-header {
  margin: 0;
}

.hosting {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 40px;
  max-width: 1300px;
  width: 100%;
  margin: 50px auto;
}

.hosting-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  gap: 40px;
  font-weight: 400;
}

.jacob-img,
.logo-img {
  max-width: 650px;
  border-radius: 12px;
}

.blue-circle {
  background-color: #118da8;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-circle img {
  background: none;
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 70%;
  justify-content: center;
}

.subscribe-block {
  color: #fff;
  font-size: 72px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 40px;
  padding: 40px;
  max-width: 1300px;
  margin: 0 auto;
}
.subscribe-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input {
  background-color: #191919;
  color: white;
  border-radius: 6px;
  width: 522px;
  height: 82px;
  border: 0;
}

#name,
#email {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
}

.footer {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  margin: 50px auto;
  padding-top: 50px;
  /* gap: 16px; */
}

.navigation,
.legal-links {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 9.98px;
}

.footer-link {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  margin: 17px 0;
}

.footer-link:hover,
.navigation a:hover {
  color: #118da8;
}

.navigation a {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  margin: 17px 0;
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 20px;
}

.socialnetwork {
  display: flex;
  gap: 10px;
}

.streaming-platforms {
  align-items: center;
  width: max-content;
}

.header {
  width: 100%;

  position: sticky;
  top: 0;
  background-color: #1e1e1e;
  z-index: 1;
}

.header-container {
  margin: 50px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;  
  width: 100%;
  max-width: 1300px;
}

.container {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  gap: 40px;
}

.intro {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 60px;
  max-width: 1300px;
  width: 100%;
  margin: 50px auto;
}

.intro-logo-img-container {
  position: relative;
}

.logo-decoration-img {
  position: absolute;
  top: -26px;
  left: -26px;
}

.intro-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 65px;
  line-height: 88px;
  letter-spacing: 3.2px;
}

.intro-info-header {
  font-weight: 400;
}

.streaming-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 9.98px;
}

.level {
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: 3.2px;
}

.streaming-intro-img,
.castaway-footer-img {
  max-width: 50%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}
