body {
  box-sizing: border-box;
  padding: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  background-color: #1e1e1e;
  height: 100vh;
}

.star {
  margin-bottom: 15px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: start;
}

.box {
  width: 423px;
  height: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 32px;
  padding: 50px;
  box-sizing: border-box;
}

/* .box::before {
  content: "⭐⭐⭐⭐⭐";
  font-size: 24px;
  color: #ffd700;
  margin-bottom: 10px;
  display: block;
} */

.review-text {
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
  margin: 0 0 10px;
  /* margin-left: 20px; */
}

.review-author {
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  margin: 0;
  /* margin-left: 20px; */
}
